snippet sig "Signature"
Yours sincerely,

Nauman Afsar
endsnippet

snippet ul "List"
\begin{itemize}
	\item $1
\end{itemize}
endsnippet

snippet env "Environment" bA
\begin{$1}
$0
\end{$1}
endsnippet

snippet lx "LaTeX Fancy" A
\LaTeX{} 
endsnippet
